@{
    ViewBag.Title = "Help";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Help Center</h1>
            <p class="mt-4">
                If you have any questions or need assistance, you can find answers to frequently asked questions here or contact us for more support.
            </p>
            <h5>1. How can I track my order?</h5>
            <p>
                You can track your order by visiting the <a href="order-tracking.html">Order Tracking</a> page and entering your order ID.
            </p>
            <h5>2. What payment methods do you accept?</h5>
            <p>
                We accept a variety of payment methods including credit cards, debit cards, and PayPal.
            </p>
            <h5>3. How do I return a product?</h5>
            <p>
                Please visit our <a href="returns.html">Returns</a> page for detailed information on how to return a product.
            </p>
            <!-- Add more help topics as needed -->
            <br />
            <a href="~/Home/Index" class="btn btn-secondary mt-4"><i class="fa fa-arrow-left"></i> Back to Home</a>
        </div>
    </div>
</div>
